[submodule "bundle/sensible"]
	path = bundle/sensible
	url = http://github.com/tpope/vim-sensible.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git

[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ruby-refactoring"]
	path = bundle/ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "bundle/railscasts-theme"]
	path = bundle/railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/nerdtree-tabs"]
	path = bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/rspec"]
	path = bundle/rspec
	url = https://github.com/josemarluedke/vim-rspec.git
[submodule "bundle/bundler"]
	path = bundle/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/rake"]
	path = bundle/rake
	url = https://github.com/tpope/vim-rake.git
[submodule "bundle/rubyblock"]
	path = bundle/rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/blockle"]
	path = bundle/blockle
	url = https://github.com/vim-scripts/blockle.vim.git
[submodule "bundle/solarized-colors"]
	path = bundle/solarized-colors
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/slim"]
	path = bundle/slim
	url = https://github.com/slim-template/vim-slim.git
